/* Login page */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
/* body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
} */
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  /* animation: animate 5s linear infinite; */
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: #0f0;
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
/* End Login Page */

/* Message UI */

.message-list {
	width: 25%;
	border-right: 1px solid rgba(47, 47, 47, 0.1);
	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
	z-index: 10;
}

.message-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
	border-right: 0;
	max-width: 342px;
	width: 100%;
	padding: 0 24px;
	height: 72px;
}

.message-heading h3 {
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 36px;
	color: #2F2F2F;
	margin: 0;
}

.chat-screen {
	/* position: absolute; */
	display: flex;
	/* flex-direction: column; */
	gap: 10px;
	background: #fff;
	overflow: auto;
	border-right: 1px solid rgba(47, 47, 47, 0.1);
	max-height: 100vh;
	/* overflow-y: auto !important; */
	overflow-x: hidden !important;
	padding-right: 0;
}


.chat-screen::-webkit-scrollbar {
	width: 3px;

}

/* Track */
.chat-screen::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.chat-screen::-webkit-scrollbar-thumb {
	background: #d7d7d7;
}

/* Handle on hover */
.chat-screen::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.user-name-list {
	background: #FFFFFF;
	/* border-left: 5px solid transparent; */
}

.user-name-list.active {
	background: #FAFAFA;
	/* border-left: 5px solid #32C1C4; */
}
.__skeleton {
    background-image: linear-gradient(90deg, #ccc 0px, rgb(229 229 229 /90%) 40px, #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}
.username__skeleton {
    width: 220px;
    height: 25px;
	border-radius: 8px;
}

.img__skeleton {
	width: 50px !important;
	height: 50px !important;
	border-radius: 8px;
}

.last_message__skeleton {
	margin-top: 4px !important;
    width: 220px;
    height: 18px;
	border-radius: 8px;
}
.group_cover-img__skeleton {
	/* margin-top: 4px !important; */
    width: 50px;
    height: 50px;
	/* border-radius: 10px; */
}

.userDetail_userName__skeleton {
	margin-top: 4px !important;
    width: 220px;
    height: 36px;
	border-radius: 8px;
}

.online-offline-status__skeleton {
    margin-top: 4px !important;
    border-radius: 8px;
    width: 70px;
    height: 24px;
}



.author-name-details {
	display: flex;
	align-items: center;
	padding: 16px;
	/* border-bottom: 1px solid rgba(47, 47, 47, 0.1); */
	cursor: pointer;
}

.author-img {
	position: relative;
	overflow: hidden;
	width: 46px;
	height: 46px;
	margin: 0px 8px 0 10px;
	flex: 0 0 46px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.author-img .maker {
	background: #FED665;
	border-radius: 3px;
	padding: -2px 4px;
	padding: 0 -17px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	display: flex;
	align-items: center;
	color: #2F2F2F;
	justify-content: center;
	transform: translate(3px, -8px);
	position: absolute;
	padding: 2px 2px 2px 3px;
	padding: -4px 19px;
}

.user-name-list .author-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* -webkit-clip-path: polygon(-6% 38%, 27% 12%, 56% 3%, 140% 56%, 47% 99%, 6% 77%);
	clip-path: polygon(-6% 38%, 27% 12%, 56% 3%, 140% 56%, 47% 99%, 6% 77%); */
	border-radius: 50px;
}

.author-username {
	display: flex;
	gap: 10px;
	align-items: center;
	color: #2F2F2F;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.author-name h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
    margin: 0px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.author-name p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(47, 47, 47, 0.5);
    margin: 0px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.message-time {
	margin-left: auto !important;
	margin-right: 10px !important;
}
.message-time p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    margin: 0px;
    padding-right: 15px;
}

.unread-message {
    color: #32C1C4 !important;
}

p.unread-message-count {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 4px;
    gap: 10px;
    background-color: #32c1c4;
    text-align: center;
    color: #ffffff;
    position: absolute;
    height: 12px;
    border-radius: 26px;
}

#last_message {
	display: -webkit-box;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #2F2F2F;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.back-to-main img {
    display: none;
}



.author-message-heading {
	position: fixed;
	background: #fff;
	z-index: 1;
	/* max-width: 341px; */
	width: 25%;
	border-right: 1px solid rgba(47, 47, 47, 0.1);
}

.author-chat-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 91px;
	background: #fff;
	z-index: 1;
	/* max-width: 683px; */
	/* width: 50%; */
	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
	border-right: 1px solid rgba(47, 47, 47, 0.1);
}

.author-profile h3 {
	position: fixed;
	background: #FFFFFF;
	z-index: 1;
	/* max-width: 336.25px; */
	width: 25%;
}

.auhor-details .p-number h5,
.auhor-details .p-number p {
	color: #2F2F2F;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 22px;
}

.auhor-detailing p {
	margin-bottom: 0;
}

.online-indicator {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #27AE60;
	/* Green color for online */
	border-radius: 50%;
	/* Make it a circle */
	margin-left: 5px;
	/* Adjust spacing as needed */
}

.p-number {
	padding: 0 0px 0px 26px;
}

.p-number p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 24px;
	color: #2F2F2F;
}

.p-number h5 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 2px;
	color: #000000;
}

.phone_number__skeleton h5 {
    width:100px;
    height:20px;    
}
.phone_number__skeleton p {
    margin-top:3px;
    width:250px;
    height:20px;
    
}

.enrolled-text {
    background: #FFF;
    /* position: fixed; */
    /* width: calc(100% - 594px); */
    /* top: 165px; */
    padding: 8px 48px 8px 24px;
    border-bottom: 1px solid rgba(47, 47, 47, 0.1);
    font-weight: 700;
    /* z-index: 10; */
    /* border-top: 1px solid rgba(47, 47, 47, 0.1); */
}

.enrolled-text__skeleton {
	border-radius: 8px;
    height: 24px;
}

/* Chat */
.chat {
	overflow-y: scroll !important;
	height: calc(100vh - 180px);
	padding-bottom: 20px;
	overflow-x: hidden;
}

.chat::-webkit-scrollbar {
	width: 3px;
}

/* Track */
.chat::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
	background: #d7d7d7;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
	background: #555;
}




#send-message-controller {
	/* width: calc(100% - 636px); */
	/* right: 24px; */
	border-radius: 6px;
	border: 1px solid var(--border, #D8D8D8);
	bottom: 10px;
	height: 54px;
	padding: 16px;
	z-index: 1;
}

#send-message-controller .input-text input::-webkit-input-placeholder {
	color: #2F2F2F;
}

#send-message-controller .input-text input:-ms-input-placeholder {
	color: #2F2F2F;
}

#send-message-controller .input-text input::placeholder {
	color: #2F2F2F;
}

.text-box-section .send-icon button {
	margin-top: 0;
}

.text-box {
	position: fixed;
	display: flex;
	padding: 27px 32px;
	align-items: center;
	justify-content: space-between;
	border-top: 3px solid rgba(47, 47, 47, 0.1);
}

.send-icon {
	display: flex;
	align-items: center;
	gap: 30px;
}

.send-icon button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.input-text {
	width: 100%;
	padding-right: 100px;
}

.input-text input {
	width: 100%;
	border: none;
	outline: none;
}

.input-text input::placeholder {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: rgba(47, 47, 47, 0.5);
}



@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}


@media (min-width: 768px) {
    .auhor-details-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
	.add-z-index-none {
        display: none;
    }

    .author-message-lits {
        width: 100% !important;
    }

    .author-message-heading {
        max-width: 100%;
    }

    .chat-screen {
        width: 100% !important;
    }
	
	.message-z-index {
        display: none;
    }

    .add-z-index {
        display: block;
    }

    .author-chat-name {
        left: 0;
        width: 100%;
        border-right: 0;
        padding: 0 28px !important;
    }

    div.open-profile {
        padding: 0;
    }

    .enrolled-text {
        width: 100%;
        top: 156px;
        padding: 8px 10px;
        font-size: 14px;
        font-family: Lato;
        text-align: center;
    }

    .back-to-main {
        display: none;
    }

    /* #send-message-controller {
        display: flex !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    } */

    .message-section-face2 .chat-text {
        padding: 23px 28px 0 28px;
    }

    .auhor-details-mobile {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .auhor-details .p-number {
        position: absolute;
        right: 44px;
        background: #fff;
        z-index: 1;
        padding: 16px;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
        border-radius: 6px;
        top: 80%;
        display: none;
    }
}

@media (max-width: 575px) {
	.chat-section {
		display: none;
	}
}

@media (max-width: 480px) {
	.chat-screen {
		position: unset;
	}

	.back-to-main img {
        display: block !important;
        width: 20px;
        height: 20px;
    }
}
/*  */






.m-count {
    background-color: #32C1C4;
    padding: 2px 4px;
    text-align: center !important;
    border-radius: 10px;
    font-weight: 900 !important;
    color: #fff !important;
}


.user-name-list.active .author-main-img {
    padding-left: 42px !important;
}



.user-name-list-face2 .author-img span {
	font-family: 'DM Serif Display';
}


.message-section>div {
	min-height: 72px;
}

.filesend-wraper {
	display: flex;
}

.u_file-message {
	max-width: 300px;
	position: relative;
}

.u_other-file {
	background: #fff;
	padding: 5px;
	border-radius: 3px;
}

.u_flex {
	display: flex !important;
}

.u_item-center {
	align-items: center;
}

.u_text-center {
	text-align: center;
}

.u_other-file-content {
	flex: 1 1;
	padding-left: 10px;
	padding-right: 10px
}

.current-participants-detail:hover {
	background: rgba(47, 47, 47, 0.03);
	left: 0px;
}

/* ScrollBar */
/* width */
.profile-box::-webkit-scrollbar {
	width: 3px;
}

/* Track */
.profile-box::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
.profile-box::-webkit-scrollbar-thumb {
	background: #d7d7d7;
}

/* Handle on hover */
.profile-box::-webkit-scrollbar-thumb:hover {
	background: #555;
}





/* .author-name-details{
justify-content: space-between;
} */
.author-main-img {
	display: flex;
	align-items: center;
	gap: 24px;
	/* padding-left: 48px !important; */
}

.profile-details {
	width: 51px;
	height: 51px;
	object-fit: cover;
	border-radius: 4px;
}

.box-1-img {
	height: 200px !important;
}

.box-1-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}



.members-profile-image {
	height: 16px;
	border-radius: 100px;
	width: 16px;
	margin-right: -6px;
	border: 1px solid #ffffff;
}





.auhor-img h3 {
	font-size: 20px;
	line-height: 24px;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}


.author-chat {
	height: 72px;
}



div.open-profile {
	padding: 0 24px;
	width: 100%;
	gap: 0;
}

.auhor-img {
	width: 100%;
	justify-content: space-between;
}

.group_cover-img {
	display: none;
}


.chat-img-face2.chat-img {
	position: relative;
	overflow: hidden;
	width: 46px;
	height: 46px;
	flex: 0 0 46px;
}

.chat-img-face2.chat-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* -webkit-clip-path: polygon(-6% 38%, 27% 12%, 56% 3%, 140% 56%, 47% 99%, 6% 77%);
	clip-path: polygon(-6% 38%, 27% 12%, 56% 3%, 140% 56%, 47% 99%, 6% 77%);
	border-radius: 0 !important; */
}

.chat-img-face2.chat-img:after {
	content: '';
	/* background-image: url(../../../../assets/images/profile-shape.svg); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 0px;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

.chat-text-face2 .chat-message-name h3 {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	color: #2F2F2F;
}

.chat-text-face2 .chat-message-name p {
	color: #2F2F2F;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}

.chat-text-face2 .personal-author-chat p {
	color: #2F2F2F;
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}





.message-section-face2 .dots-icons {
	display: none;
}

.maker-img:after {
	content: '';
	/* background-image: url(../../../../assets/images/maker-profile-shape.svg) !important; */
}


.main-navbar-wrap nav .container {
	width: 100%;
	max-width: 100%;
	padding: 0 48px;
	margin: 0;
}

body {
	overflow-y: hidden !important;
}

.dropdown-menu .show {
	transform: translate3d(182px, 43px, 0px) !important;
}

#beacon-container {
	display: none;
}

#spinner {
	display: none !important;
}

.message-section-face2 .author-profile {
	display: none;
}



.message-section {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.author-profile {
	width: 25%;
	border-right: 1px solid rgba(47, 47, 47, 0.1);
	z-index: 0;
}

.author-profile h3 {
	padding: 28px 0px 26px 25px !important;
	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}





.auhor-img {
	display: flex;
	align-items: center;
	gap: 12px;
}

.auhor-img img {
	object-fit: cover;
}

.auhor-img i {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FEC832;
	border-radius: 50%;
	color: #fff;
	font-size: 17px;
}

.auhor-img h3 {
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #2F2F2F;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

section.chat-section {}

.author-profile h3 {
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	margin: 0px;
	color: #2F2F2F;
	padding: 32px 0 0 0;
}


.message-section>div {
	min-height: 91px;
}





.yesterday {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	padding: 23px 20px 0 20px;
}

.main-text-center {
	padding: 0;
	margin: 0px;
	height: -30px;
}

.line1 {
	height: 2px;
	width: 45%;
	background: rgb(183 183 183 / 20%);
}

.line2 {
	height: 2px;
	width: 45%;
	background: rgb(183 183 183 / 20%);
}

.main-text-center {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 8px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #A8A8A8;
}

.chat-text {
	padding: 23px 20px 0 20px;
	display: flex;
	gap: 8px;
}

.chat-message-name {
	display: flex;
	gap: 5px;
	align-items: center;
}

.chat-message-name h3 {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	margin: 0;
	word-break: break-all;
}

.chat-message-name p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 8px;
	line-height: 10px;
	color: rgba(47, 47, 47, 0.5);
	margin: 0;
}

.personal-author-chat p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	color: #2F2F2F;
	margin: 0;
	margin-top: 3px;
	font-size: 12px;
}

.user-chat {
	padding-top: 17px;
	padding-bottom: 5px;
}





.profile-box {
	padding-top: 110px;
	overflow-y: scroll !important;
	height: calc(100vh - 108px);
	background: #FCFCFC;
}







.user-name-list.inbox-message.active {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.chat-img {
	width: 31px;
	height: 31px;
	flex: 0 0 31px;
}

.chat-img img {
	width: 31px;
	height: 31px;
	object-fit: cover;
	border-radius: 4px;
}

.personal-author-chat p {
	max-width: 570px;
	width: 100%;
	word-break: break-all;
}

@media (max-width: 767px) {
	.main-navbar-wrap nav .container {
		padding: 0 15px;
	}
}